<script setup lang="ts">
import type { Automation } from '@/appframework'

function stub() {
  return { expression: '' } as Automation
}
</script>

<template>
  <ListComponent type="automation" :stub="stub" name-column="expression">
    <template #icon>
      <IBiGearFill />
    </template>
  </ListComponent>
</template>
