<template>
  <SingleComponent type="automation" :stub="stub" name-column="expression">
    <template #icon>
      <IBiGearFill />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="qualifiedName">
        <input
          id="control_id_qualifiedName"
          v-model="post.qualifiedName"
          type="text"
          class="form-control"
          :disabled="post.id !== undefined"
        />
      </LabelGroup>
      <div class="form-group row">
        <BButtonGroup class="offset-md-2 col-sm-10">
          <BButton
            :variant="post.textMatch == 'EQUALS_COMPLETE' ? 'primary' : 'light'"
            :disabled="post.builtin"
            @click="post.textMatch = 'EQUALS_COMPLETE'"
          >
            EQUALS_COMPLETE
          </BButton>
          <BButton
            :variant="post.textMatch == 'REGULAR_EXPRESSION' ? 'primary' : 'light'"
            :disabled="post.builtin"
            @click="post.textMatch = 'REGULAR_EXPRESSION'"
          >
            REGULAR_EXPRESSION
          </BButton>
        </BButtonGroup>
      </div>
      <LabelGroup label="builtin">
        <input id="control_id_builtin" v-model="post.builtin" type="checkbox" />
      </LabelGroup>
      <LabelGroup label="compiled">
        <input id="control_id_compiled" v-model="post.compiled" type="checkbox" disabled />
      </LabelGroup>
      <LabelGroup label="sourcecode">
        <textarea
          id="control_id_source"
          v-model="post.source"
          class="form-control"
          name="sourcecode"
          :disabled="post.builtin"
        ></textarea>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { Automation } from '@/appframework'

function stub() {
  return {
    textMatch: 'REGULAR_EXPRESSION'
  } as Automation
}
</script>
