<template>
  <div class="card mt-3">
    <div class="card-header d-flex">
      <div class="d-flex me-auto">
        <span class="d-none d-md-inline d-lg-inline d-xl-inline d-xxl-inline">
          {{ t('my_tasks') }}
        </span>
        <span v-if="assignedTasks?.length > 0" class="ms-1">
          ({{ overdueAssigneesTasksCount() }}/{{ assignedTasks.length }})</span
        >
      </div>
      <div class="d-flex">
        <BInputGroup size="sm" class="me-2">
          <DatePicker v-model="assignedDue" :locale="getDatepickerFormat()" style="width: 110px" />
          <template #append>
            <button type="submit" class="btn btn-outline-secondary" @click="bulkDue(true)">
              <IBiClock style="font-size: 12px" class="me-1" />
              <span class="d-none d-md-inline d-lg-inline d-xl-inline d-xxl-inline">
                {{ t('due') }}
              </span>
            </button>
          </template>
        </BInputGroup>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="d-none d-md-table-row d-lg-table-row d-xl-table-row d-xxl-table-row">
            <th class="w-75" colspan="2">{{ t('task') }}</th>
            <th class="w-25" colspan="2">{{ t('due') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="task in assignedTasks"
            :key="task.id"
            :class="{ overdue: isPast(task), deadline: task.deadline }"
          >
            <td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell d-xxl-table-cell">
              <RouterLink :to="`tasks/${task.id}`">{{ `#${task.id}` }}</RouterLink>
            </td>
            <td>
              <RouterLink :to="`tasks/${task.id}`">{{ task.title || '(empty)' }}</RouterLink>
              <div class="float-end d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                <Badges :filter="filter" :task="task"></Badges>
              </div>
            </td>
            <td>
              <a @click="filterDue(task.due, $event)">{{
                task.due ? format(task.due, 'PP', { locale: getDfnsLocale() }) : '-'
              }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header d-flex">
      <div class="d-flex me-auto">
        <span>{{ t('overdue_tasks') }}</span>
        <span v-if="overdueTasks?.length > 0" class="ms-1">({{ overdueTasks.length }})</span>
      </div>
      <div class="d-flex">
        <BInputGroup size="sm">
          <DatePicker v-model="overdueDue" :locale="getDfnsLocale()" style="width: 110px" />
          <template #append>
            <BButton variant="outline-secondary" @click="bulkDue(false)">
              <IBiClock style="font-size: 12px" class="me-1" />
              <span class="d-none d-md-inline d-lg-inline d-xl-inline d-xxl-inline">
                {{ t('due') }}
              </span>
            </BButton>
          </template>
        </BInputGroup>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="w-50" colspan="2">{{ t('task') }}</th>
            <th class="w-25">{{ t('assignee') }}</th>
            <th class="w-25" colspan="2">{{ t('due') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="task in overdueTasks"
            :key="task.id"
            :class="{ overdue: isPast(task), deadline: task.deadline }"
          >
            <td>
              <RouterLink :to="`tasks/${task.id}`">{{ `#${task.id}` }}</RouterLink>
            </td>
            <td>
              <RouterLink :to="`tasks/${task.id}`">{{ task.title }}</RouterLink>
              <div class="float-end d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                <Badges :filter="filter" :task="task"></Badges>
              </div>
            </td>
            <td>
              <a style="cursor: pointer" @click="filter('assignee', task.assignee, $event)">
                {{ task.assignee }}
              </a>
            </td>
            <td>
              <a style="cursor: pointer" @click="filterDue(task.due, $event)">
                {{ task.due ? format(task.due, 'PP', { locale: getDfnsLocale() }) : '-' }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <BButton variant="primary" :title="t('add')" class="btn-add" @click="add()">
    <IBiPlusCircle />
  </BButton>
</template>

<script setup lang="ts">
import { format, addDays } from 'date-fns'
import { ref, watch, onMounted, type Ref } from 'vue'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'

import { search } from '@/App.vue'
import { getExisting, saveNew } from '@/appframework/lib/rest'
import Badges from '@/components/BadgesComponent.vue'
import { getDfnsLocale, getDatepickerFormat } from '@/appframework/lib/i18n'
import type { Task, TaskStatusDue } from '@/appframework'

const router = useRouter()
const { t } = useI18n()

const assignedTasks: Ref<Task[]> = ref([])
const overdueTasks: Ref<Task[]> = ref([])
const assignedDue = ref(addDays(new Date(), 1))
const overdueDue = ref(addDays(new Date(), 1))

// Reload data when search changes
onMounted(() => {
  watch(() => search.value, debounceFetchData, { immediate: true })
})

let numberTypedChars = 0
function debounceFetchData() {
  if (numberTypedChars == undefined) {
    return
  }
  const typedCharsCurrent = ++numberTypedChars % 1000
  setTimeout(() => {
    if (typedCharsCurrent === numberTypedChars) {
      fetchData()
    }
  }, 400)
}

async function fetchData() {
  assignedTasks.value = await getExisting(`task/assigned?search=${search.value}`)
  overdueTasks.value = await getExisting(`task/overdue?search=${search.value}`)
}

function add() {
  router.push('/tasks/new')
}

function isPast(task: Task) {
  if (!task.due || task.state === 'COMPLETED') {
    return false
  }
  const today = new Date()
  today.setHours(0, 0, 0, 0)
  return new Date(task.due) < today
}

function overdueAssigneesTasksCount() {
  if (!assignedTasks.value || assignedTasks.value.length === 0) {
    return 0
  }
  let result = 0
  for (const task of assignedTasks.value) {
    if (isPast(task)) {
      result++
    }
  }
  return result
}

function filter(type: string, term: string, $event: Event) {
  if (term.indexOf(' ') !== -1) {
    term = '"' + term + '"'
  }
  const newTerm =
    type + ':' + ($event instanceof KeyboardEvent && $event.shiftKey ? '!' : '') + term
  if (search.value?.indexOf(newTerm) >= 0) {
    search.value = search.value?.replace(newTerm, '')
  } else {
    search.value += ' ' + newTerm
  }
  search.value = search.value?.trim()
}

async function bulkDue(upper: boolean) {
  const taskIds = []
  let due
  if (upper) {
    for (const task of assignedTasks.value) {
      taskIds.push(task.id)
    }
    due = assignedDue.value
  } else {
    for (const task of overdueTasks.value) {
      taskIds.push(task.id)
    }
    due = overdueDue.value
  }
  const taskStatus = {
    type: 'due',
    state: 'IN_PROGRESS',
    due: format(due, "yyyy-MM-dd'T'HH:mm:ss") as unknown as Date
  } as TaskStatusDue
  const data = await saveNew('taskstatus/bulk', {
    taskIds: taskIds,
    status: taskStatus
  })

  if (upper) {
    assignedTasks.value = await data.json()
  } else {
    overdueTasks.value = await data.json()
  }
}

function filterDue(term: Date, $event: Event) {
  filter('due', format(term, 'yyyy-MM-dd'), $event)
}
</script>

<style scoped>
.overdue,
.overdue a {
  color: crimson;
}

.deadline,
.deadline a {
  font-weight: bold;
}
/* Copy from .input-group-sm>.input-group-text of bootstrap.css */
:global(div.input-group-sm input.input-group-text) {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--bs-border-radius-sm);
}

.btn.btn-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
</style>
