<script setup lang="ts">
import { format } from 'date-fns'
import { useI18n } from 'vue-i18n'

import type { ImporterConfiguration } from '@/appframework'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()

function stub() {
  return { server: '' } as ImporterConfiguration
}
</script>

<template>
  <ListComponent type="importerconfiguration" :stub="stub" name-column="server" :colspan-extra="2">
    <template #icon>
      <IBiInboxFill />
    </template>
    <template #header-extra>
      <BTh>{{ t('type') }}</BTh>
      <BTh>{{ t('last_import') }}</BTh>
    </template>
    <template #name-content="{ dto }">
      <RouterLink :to="`/importerconfigurations/${dto.id}`"
        >{{ dto.server }} - {{ dto.username }}</RouterLink
      >
    </template>
    <template #body-extra="{ dto }">
      <BTd>{{ dto.type }}</BTd>
      <BTd>{{
        dto.lastImport ? format(dto.lastImport, 'PP', { locale: getDfnsLocale() }) : '-'
      }}</BTd>
    </template>
  </ListComponent>
</template>
