<template>
  <SingleComponent
    type="importerconfiguration"
    :stub="stub"
    name-column="server"
    :pre-save="preSave"
  >
    <template #icon>
      <IBiInboxFill />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="username">
        <input id="control_id_username" v-model="post.username" type="text" class="form-control" />
      </LabelGroup>
      <LabelGroup label="password">
        <input
          id="control_id_password"
          v-model="post.password"
          type="password"
          class="form-control"
        />
      </LabelGroup>
      <BTabs v-model="selectedType">
        <BTab title="POP" :disabled="post.id !== undefined">
          <LabelGroup label="port">
            <input
              id="control_id_port"
              v-model="(post as PopImporterConfiguration).port"
              type="number"
              class="form-control"
            />
          </LabelGroup>
        </BTab>
        <BTab title="Exchange" :disabled="post.id !== undefined">
          <LabelGroup label="category">
            <input
              id="control_id_category"
              v-model="(post as EwsImporterConfiguration).category"
              type="text"
              class="form-control"
            />
          </LabelGroup>
          <LabelGroup label="proxyServer">
            <input
              id="control_id_proxyServer"
              v-model="(post as EwsImporterConfiguration).proxyServer"
              type="text"
              class="form-control"
            />
          </LabelGroup>
          <LabelGroup label="proxyPort">
            <input
              id="control_id_proxyPort"
              v-model="(post as EwsImporterConfiguration).proxyPort"
              type="number"
              class="form-control"
            />
          </LabelGroup>
        </BTab>
      </BTabs>
      <LabelGroup label="maxFailedLogins">
        <input
          id="control_id_maxFailedLogins"
          v-model="post.maxFailedLogins"
          type="text"
          class="form-control"
        />
      </LabelGroup>
      <LabelGroup label="disabled">
        <input id="control_id_disabled" v-model="post.disabled" type="checkbox" />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type {
  EwsImporterConfiguration,
  ImporterConfiguration,
  PopImporterConfiguration
} from '@/appframework'

const selectedType = ref(0)

function preSave(importerconfiguration: ImporterConfiguration) {
  importerconfiguration.type = selectedType.value === 0 ? 'POP' : 'EWS'
  console.log(importerconfiguration)
}

function stub() {
  return {
    type: 'POP'
  } as ImporterConfiguration
}
</script>
