<template>
  <SingleComponent type="label" :stub="stub">
    <template #icon>
      <IBiTagFill />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="color">
        <ColorPickerComponent v-model="post.color" :alternatives="colors" />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { getExisting } from '@/appframework/lib/rest'
import type { Label } from '@/appframework'

const colors: Ref<string[]> = ref([])

function stub() {
  return {
    color: '#ccffaa'
  } as Label
}

async function init() {
  colors.value = await getExisting('label/colors')
}
init()
</script>
