<script setup lang="ts">
import type { Label } from '@/appframework'

function stub() {
  return { name: '' } as Label
}
</script>

<template>
  <ListComponent type="label" :stub="stub" name-column="name">
    <template #icon>
      <IBiTagFill />
    </template>
    <template #name-content="{ dto }">
      <LabelColor :label="dto" />
      <RouterLink :to="`/labels/${dto.id}`">{{ dto.name }}</RouterLink>
    </template>
  </ListComponent>
</template>
