<template>
  <LoadingComponent :loading="loading" :error="error">
    <h1 style="display: flex; gap: 10px">
      <IBiListTask />
      <span v-if="post.id">{{ `#${post.id}` }}</span>
      <Inplace
        closable="true"
        class="h1"
        :pt="{
          display: {
            class: 'p-0'
          }
        }"
      >
        <template #display>
          <span>{{ !post.title ? '(empty)' : post.title }}</span>
        </template>
        <template #content="{ closeCallback }">
          <input v-model="post.title" type="text" autofocus />
          <BButton variant="success" @click="saveAndClose(closeCallback)">{{ t('save') }}</BButton>
        </template>
      </Inplace>
      <TaskStatus :filter="filter" :task="post"></TaskStatus>
    </h1>

    <form class="form-horizontal">
      <LabelGroup v-show="!post.id" label="title">
        <input
          id="control_id_title"
          v-model="post.title"
          type="text"
          class="form-control"
          enter-submit="save()"
        />
        <BButton variant="primary" @click="save()"> <IBiFloppy /> {{ t('save') }} </BButton>
      </LabelGroup>

      <div v-show="post.id" class="row">
        <div class="col-md-9 col-sm-12">
          <LabelGroup label="comment">
            <textarea
              id="control_id_comment"
              v-model="newComment"
              class="form-control"
              :class="{ dirty: newComment.length > 0 }"
              @keydown="$event => enterSubmit($event, addComment)"
            ></textarea>
            <div class="row">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <BButton variant="light" @click="addComment()">
                    <IBiChat /> {{ t('comment') }}
                  </BButton>
                  <BButton variant="success" @click="completeComment()">
                    <IBiChat /> {{ t('comment_complete') }}
                  </BButton>
                </div>
                <div>
                  <input
                    v-model="effort"
                    type="text"
                    class="form-control"
                    placeholder="0h 30m"
                    style="width: 100px"
                  />
                </div>
              </div>
            </div>
          </LabelGroup>

          <LabelGroup label="set_assignee">
            <BInputGroup>
              <AutoComplete
                id="control_id_set_assignee"
                v-model="newAssignee"
                option-label="name"
                :input-class="{ dirty: newAssignee !== post.assignee }"
                :suggestions="suggestedAssignee"
                :loading="loadAssignee"
                @complete="suggestAssignee"
              />
              <template #append>
                <BButton variant="outline-secondary" @click="assign()">
                  <IBiPersonCheck /> {{ t('assign') }}
                </BButton>
              </template>
            </BInputGroup>
          </LabelGroup>

          <LabelGroup label="due">
            <BInputGroup>
              <DatePicker
                id="control_id_set_due"
                v-model="newDue"
                :locale="getDatepickerFormat()"
                :input-class="{ dirty: (newDue || post.due) && !isSameDay(newDue, post.due) }"
              />
              <template #append>
                <BButton
                  :variant="post?.deadline ? 'outline-secondary' : 'secondary'"
                  @click="setDue(false)"
                >
                  <IBiClock />
                  <span class="ms-1 d-none d-md-inline">{{ t('follow-up') }}</span>
                </BButton>
                <BButton
                  :variant="!post?.deadline ? 'outline-danger' : 'danger'"
                  @click="setDue(true)"
                >
                  <IBiClock />
                  <span class="ms-1 d-none d-md-inline">{{ t('deadline') }}</span>
                </BButton>
              </template>
            </BInputGroup>
          </LabelGroup>

          <LabelGroup label="labels">
            <AutoComplete
              v-model="labels"
              input-id="control_id_labels"
              multiple
              fluid
              option-label="name"
              :suggestions="loadedLabels"
              @complete="loadLabels"
              @option-select="event => addLabel(event.value)"
              @option-unselect="event => removeLabel(event.value)"
            >
              <template #option="slotProps">
                <div class="flex items-center">
                  <BadgeComponent :label="slotProps.option" />
                </div>
              </template>
            </AutoComplete>
          </LabelGroup>

          <LabelGroup label="priority">
            <BButtonGroup class="d-flex">
              <BButton
                class="w-100"
                :disabled="post.priority == 'HIGH'"
                :variant="post.priority == 'HIGH' ? 'outline-secondary' : 'secondary'"
                @click="setPriority('HIGH')"
              >
                <IBiArrowUpCircle /> {{ t('high') }}
              </BButton>
              <BButton
                class="w-100"
                :disabled="post.priority == 'MEDIUM'"
                :variant="post.priority == 'MEDIUM' ? 'outline-secondary' : 'secondary'"
                @click="setPriority('MEDIUM')"
              >
                <IBiArrowRightCircle /> {{ t('medium') }}
              </BButton>
              <BButton
                class="w-100"
                :disabled="post.priority == 'LOW'"
                :variant="post.priority == 'LOW' ? 'outline-secondary' : 'secondary'"
                @click="setPriority('LOW')"
              >
                <IBiArrowDownCircle /> {{ t('low') }}
              </BButton>
            </BButtonGroup>
          </LabelGroup>

          <LabelGroup label="attachment">
            <FileUpload
              id="control_id_attachment"
              mode="basic"
              name="file"
              custom-upload
              :auto="true"
              @uploader="uploadFile($event)"
            >
              <template #empty>
                {{ t('drop_files_to_upload') }}
              </template>
            </FileUpload>
          </LabelGroup>

          <LabelGroup
            v-if="taskReferences?.length > 0 || post.referencedBy?.length > 0"
            label="references"
          >
            <span v-for="taskstatus in taskReferences" :key="taskstatus.id">
              <RouterLink
                :to="`/tasks/${(taskstatus as TaskStatusReference).reference.id}`"
                :class="{
                  strikethrough: (taskstatus as TaskStatusReference).reference.state === 'COMPLETED'
                }"
                class="me-4"
              >
                <IBiArrowRight />
                {{
                  `#${(taskstatus as TaskStatusReference).reference.id} ${(taskstatus as TaskStatusReference).reference.title}`
                }}
              </RouterLink>
            </span>
            <span v-for="taskstatus in post.referencedBy" :key="taskstatus.id">
              <RouterLink
                :to="`/tasks/${taskstatus.reference.id}`"
                :class="{ strikethrough: taskstatus.reference.state === 'COMPLETED' }"
              >
                <IBiArrowLeft /> {{ `#${taskstatus.reference.id} ${taskstatus.reference.title}` }}
              </RouterLink>
            </span>
          </LabelGroup>
        </div>
        <div class="col-md-3 col-sm-12" style="overflow-y: auto; max-height: 384px">
          <ul class="list-group actions">
            <li
              v-for="taskstatus in taskActions"
              :key="taskstatus.id"
              class="list-group-item"
              :class="'taskstatus-' + taskstatus.type"
            >
              <span
                class="taskstatus-action"
                :class="{ completed: taskstatus.completed }"
                @click="completeAction(taskstatus)"
                >{{ taskstatus.title }}</span
              >
            </li>
          </ul>
          <div v-show="taskActions?.length > 0" class="form-check abc-checkbox">
            <input
              id="showCompleted"
              v-model="showCompleted"
              class="form-check-input"
              type="checkbox"
            />
            <label class="form-check-label" for="showCompleted">{{ t('show_completed') }}</label>
          </div>
        </div>
      </div>

      <ul class="list-group pb-3">
        <li
          v-for="taskstatus in statusForDisplay"
          :key="taskstatus.id"
          class="list-group-item taskstatus-{{taskstatus.type}}"
        >
          <span class="float-end ms-1 lh-sm">
            <div class="small fw-light">
              {{ format(taskstatus.created, 'PP', { locale: getDfnsLocale() }) }}
            </div>
            <div class="small fw-light">{{ taskstatus.createdBy }}</div>
          </span>
          <BButton
            variant="warning"
            size="sm"
            class="float-end"
            @click="($event: MouseEvent) => deleteStatus($event, taskstatus.id)"
          >
            <IBiTrash />
            {{ selectedForDeletion[taskstatus.id] ? t('remove') : '' }}
          </BButton>

          <div>
            <TaskStatusIcon :taskstatus="taskstatus" class="me-1" />
            <TaskStatusContent
              :taskstatus="taskstatus"
              :email-split-regexp="regex"
              @text-delted="fetchData(parseInt(route.params.id as string), true)"
            />
          </div>
        </li>
      </ul>

      <BButtonGroup style="width: 100%">
        <BButton
          v-for="(value, key) in shown"
          :key="key"
          size="sm"
          :variant="shown[key] ? 'info' : 'outline-info'"
          @click="shown[key] = !shown[key]"
        >
          {{ t(key) }}
        </BButton>
      </BButtonGroup>
    </form>
  </LoadingComponent>
</template>

<script setup lang="ts">
import { format, isSameDay, parse } from 'date-fns'
import { ref, watch, computed, onMounted, type Ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { type AutoCompleteCompleteEvent } from 'primevue/autocomplete'
import { type FileUploadUploaderEvent } from 'primevue/fileupload'

import {
  saveNew,
  saveExisting,
  getExisting,
  deleteExisting,
  postData
} from '@/appframework/lib/rest'
import { search } from '@/App.vue'
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import TaskStatus from '@/components/TaskStatus.vue'

const route = useRoute()
const router = useRouter()
const { t } = useI18n()

const loading = ref(false)
const post = ref(null as unknown as Task)
const error = ref(null as unknown as string)

const showCompleted = ref(false)
const shown = ref({
  action: false,
  due: false,
  email: true,
  file: true,
  generic: true,
  person: false,
  priority: false,
  reference: false,
  effort: false
})
import { getDatepickerFormat, getDfnsLocale } from '@/appframework/lib/i18n'
import type {
  Label,
  Priority,
  State,
  Task,
  TaskStatusAction,
  TaskStatusDue,
  TaskStatusEffort,
  TaskStatusGeneric,
  TaskStatusPerson,
  TaskStatusPriority,
  TaskStatusReference,
  TaskStatusUnion,
  TextSplit,
  User
} from '@/appframework'

const effort = ref('')

const newComment = ref('')
const newAssignee: Ref<string | User> = ref('')
const newDue = ref(new Date())

const loadAssignee = ref(false)
const labels: Ref<Label[]> = ref([])

async function save() {
  if (post.value.id) {
    post.value = (await (
      await saveExisting<Task>('task', post.value, parseInt(route.params.id as string))
    ).json()) as Task
  } else {
    post.value = await (await saveNew('task', post.value)).json()
    await router.push('/tasks/' + post.value.id)
  }
}

const isClone = route.path.slice(0, '/tasks/clone'.length) === '/tasks/clone'

if (route.params.id === 'new') {
  post.value = {
    state: 'NEW',
    priority: 'MEDIUM',
    status: [] as TaskStatusUnion[]
  } as Task
} else {
  watch(
    () => route.params.id as string,
    (id: string) => {
      fetchData(parseInt(id))
    },
    { immediate: true }
  )
}

const regex = ref(undefined as unknown as RegExp)
const exclusionpatterns: Ref<RegExp[]> = ref([])

onMounted(async () => {
  const response = await getExisting<string[]>('taskstatus/exclusionpatterns')
  exclusionpatterns.value = []
  for (const expressionString of response) {
    exclusionpatterns.value.push(new RegExp(expressionString))
  }

  const textsplits = await getExisting<TextSplit[]>('textsplit')
  regex.value = new RegExp(textsplits.map(x => x.expression).join('|'), 'g')
})

async function fetchData(id: number, inplace = false) {
  error.value = null as unknown as string
  if (!inplace) {
    post.value = null as unknown as Task
    loading.value = true
  }

  try {
    post.value = await getExisting(`task/${id}`)
    if (isClone) {
      post.value.title = t('clone_of', { element: post.value.title })
      post.value.id = undefined as unknown as number
    }
    if (post.value.due) {
      post.value.due = parse(
        post.value.due as unknown as string,
        "yyyy-MM-dd'T'HH:mm:ss",
        new Date()
      )
    }
  } catch (err: unknown) {
    if (err instanceof Error) {
      error.value = err.message
    } else {
      error.value = 'An error occured'
    }
  } finally {
    if (!inplace) loading.value = false
  }
  newDue.value = post.value.due ? new Date(post.value.due) : (undefined as unknown as Date)
  newAssignee.value = post.value.assignee
  labels.value = post.value.labels
}

const taskReferences = computed(() => {
  return post.value?.status.filter(status => status.type === 'reference')
})

const taskActions = computed(() => {
  return post.value?.status.filter(
    status => status.type === 'action' && (showCompleted.value || !status.completed)
  ) as TaskStatusAction[]
})

const statusForDisplay = computed(() => {
  return post.value?.status
    .filter(status => isShown(status))
    .sort((a, b) => b.created.toString().localeCompare(a.created.toString()))
})

function enterSubmit(event: KeyboardEvent, fn: () => void) {
  const code = event.keyCode || event.which
  if (event.ctrlKey && code === 13) {
    if (!event.shiftKey) {
      event.preventDefault()
      fn()
    }
  }
}

function addComment() {
  submitComment('IN_PROGRESS')
}

function completeComment() {
  submitComment('COMPLETED')
}

async function submitComment(state: State) {
  if (!newComment.value) {
    return
  }
  const taskStatusComment = {
    type: 'generic',
    state: state,
    taskId: post.value.id,
    comment: newComment.value
  } as TaskStatusGeneric
  await saveNew('taskstatus', taskStatusComment)
  if (effort.value !== '') {
    const regexp = /((\d+)h)?\s*(\d+)m?/
    const parts = effort.value.match(regexp) as RegExpMatchArray
    let minutes = 0
    minutes += parseInt(parts[3])
    if (parts[2]) {
      minutes += parseInt(parts[2]) * 60
    }
    const taskStatusEffort = {
      type: 'effort',
      taskId: post.value.id,
      at: new Date(),
      duration: minutes
    } as TaskStatusEffort
    await saveNew('taskstatus', taskStatusEffort)
  }
  effort.value = ''
  newComment.value = ''
  await fetchData(parseInt(route.params.id as string), true)
}

const suggestedAssignee = ref([])
async function suggestAssignee(event: AutoCompleteCompleteEvent) {
  const input = event.query
  if (!input) {
    return
  }
  loadAssignee.value = true
  suggestedAssignee.value = await getExisting(`taskstatus/assignees/${input}`)
  loadAssignee.value = false
}

async function assign() {
  const taskStatus = {
    type: 'person',
    state: 'IN_PROGRESS',
    taskId: post.value.id,
    name: Object.prototype.hasOwnProperty.call(newAssignee.value, 'name')
      ? (newAssignee.value as User).name
      : newAssignee.value
  } as TaskStatusPerson
  await saveNew('taskstatus', taskStatus)
  await fetchData(parseInt(route.params.id as string))
}

function completeAction(taskstatus: TaskStatusAction) {
  if (!taskstatus.completed) {
    if (newComment.value.indexOf('#done"' + taskstatus.title + '"') < 0) {
      newComment.value += '#done"' + taskstatus.title + '"\n'
    }
  }
}

async function setDue(deadline: boolean) {
  if (!newDue.value) {
    return
  }
  const taskStatus = {
    type: 'due',
    state: 'IN_PROGRESS',
    taskId: post.value.id,
    deadline: deadline,
    due: format(newDue.value, "yyyy-MM-dd'T'HH:mm:ss") as unknown as Date
  } as TaskStatusDue
  await saveNew('taskstatus', taskStatus)
  await fetchData(parseInt(route.params.id as string), true)
}

const selectedForDeletion = ref({} as Record<number, boolean>)
async function deleteStatus($event: MouseEvent, taskstatusId: number) {
  const btn = $event.currentTarget as HTMLElement
  if (btn.classList.contains('btn-danger')) {
    await deleteExisting('taskstatus', taskstatusId)
    selectedForDeletion.value[taskstatusId] = false
    await fetchData(parseInt(route.params.id as string), true)
  } else {
    btn.classList.remove('btn-warning')
    btn.classList.add('btn-danger')
    selectedForDeletion.value[taskstatusId] = true
  }
}

function isShown(taskstatus: TaskStatusUnion) {
  if (taskstatus.type === 'generic') {
    const taskstatusGeneric = taskstatus as TaskStatusGeneric
    for (const expression of exclusionpatterns.value) {
      if (taskstatusGeneric.comment.match(expression)) {
        return false
      }
    }
  }
  return shown.value[taskstatus.type]
}

const loadedLabels = ref([])
async function loadLabels(event: AutoCompleteCompleteEvent) {
  loadedLabels.value = await getExisting(`label?search=${event.query}`)
}

async function addLabel(label: Label) {
  const response = await saveNew(`task/${post.value.id}/addlabel`, label)
  label.id = (await response.json()).id
}

async function removeLabel(label: Label) {
  await saveNew(`task/${post.value.id}/removelabel`, label.id)
}

async function setPriority(priority: Priority) {
  const taskStatus = {
    type: 'priority',
    state: 'IN_PROGRESS',
    taskId: post.value.id,
    priority: priority
  } as TaskStatusPriority
  await saveNew('taskstatus', taskStatus)
  await fetchData(parseInt(route.params.id as string), true)
}

async function uploadFile(event: FileUploadUploaderEvent) {
  const file = Array.isArray(event.files) ? event.files[0] : event.files

  const formData = new FormData()

  formData.append('file', file)
  formData.append('filename', file.name)

  const response = await postData('task/' + post.value.id + '/upload', formData)
  const newStatus = await response.json()
  post.value.status.push(newStatus)
}

function filter(type: string, term: string, $event: Event) {
  if (term.indexOf(' ') !== -1) {
    term = '"' + term + '"'
  }
  const newTerm =
    type + ':' + ($event instanceof KeyboardEvent && $event.shiftKey ? '!' : '') + term
  if (search.value?.indexOf(newTerm) >= 0) {
    search.value = search.value?.replace(newTerm, '')
  } else {
    search.value += ' ' + newTerm
  }
  search.value = search.value?.trim()
}

function saveAndClose(closeCallback: () => void) {
  save()
  closeCallback()
}
</script>

<style>
textarea.form-control.dirty,
input.dirty {
  border-color: var(--bs-orange) !important;
}
ul.actions .taskstatus-action {
  color: orangered;
  cursor: pointer;
}
ul.actions .taskstatus-action.completed {
  color: forestgreen;
  cursor: default;
}
a.strikethrough {
  text-decoration: line-through;
}
</style>
