<script setup lang="ts">
import type { Task } from '@/appframework'

function stub() {
  return {} as Task
}

import { format } from 'date-fns'
import { useTemplateRef } from 'vue'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'

import { search } from '@/App.vue'
import Badges from '@/components/BadgesComponent.vue'
import { getDfnsLocale } from '@/appframework/lib/i18n'
import { getExisting } from '@/appframework/lib/rest'

const router = useRouter()
const { t } = useI18n()
const merge = useTemplateRef('merge')

function getRowClasses(dto: Task): Record<string, boolean> {
  return { overdue: isPast(dto), deadline: dto.deadline }
}

function isPast(task: Task) {
  if (!task.due || task.state === 'COMPLETED') {
    return false
  }
  const today = new Date()
  today.setHours(0, 0, 0, 0)
  return new Date(task.due) < today
}

function filter(type: string, term: string, $event: Event) {
  if (term.indexOf(' ') !== -1) {
    term = '"' + term + '"'
  }
  const newTerm =
    type + ':' + ($event instanceof KeyboardEvent && $event.shiftKey ? '!' : '') + term
  if (search.value?.indexOf(newTerm) >= 0) {
    search.value = search.value?.replace(newTerm, '')
  } else {
    search.value += ' ' + newTerm
  }
  search.value = search.value?.trim()
}

function filterDue(term: Date, $event: Event) {
  filter('due', format(term, 'yyyy-MM-dd'), $event)
}

async function completed(fromId: number, toId: number) {
  await router.push(`/tasks/${toId}`)
}

function startMerge(task: Task) {
  if (merge.value) {
    merge.value.openMergeDialog(task, search.value)
  }
}

async function maintenance() {
  console.log(await getExisting('task/maintenance'))
}
</script>

<template>
  <ListComponent
    type="task"
    :stub="stub"
    name-column="id"
    :reverse="true"
    :row-classes="getRowClasses"
  >
    <template #icon>
      <IBiListTask />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="title" :pager="pager" :order="order"> </SortableColumnHeader>
      <SortableColumnHeader predicate="assignee" :pager="pager" :order="order">
      </SortableColumnHeader>
      <SortableColumnHeader predicate="due" :pager="pager" :order="order"> </SortableColumnHeader>
    </template>
    <template #name-content="{ dto }">
      <RouterLink :to="`/tasks/${dto.id}`">{{ `#${dto.id}` }}</RouterLink>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <RouterLink :to="`/tasks/${dto.id}`">{{ dto.title || '(empty)' }}</RouterLink>
        <div class="float-end">
          <Badges :filter="filter" :task="dto" />
        </div>
      </BTd>
      <BTd
        style="cursor: pointer"
        @click="(event: MouseEvent) => filter('assignee', dto.assignee, event)"
        >{{ dto.assignee }}</BTd
      >
      <BTd style="cursor: pointer" @click="(event: MouseEvent) => filterDue(dto.due, event)">
        {{ dto.due ? format(dto.due, 'PP', { locale: getDfnsLocale() }) : '-' }}
      </BTd>
    </template>
    <template #actions-extra="{ dto }">
      <BButton size="sm" variant="secondary" @click="startMerge(dto)">
        <IBiUpload /> {{ t('merge') }}
      </BButton>
    </template>
  </ListComponent>
  <MergeDialog ref="merge" type="task" name-column="id" :reverse="true" @completed="completed">
    <template #row="{ dto }">
      <td>{{ dto.id }}</td>
      <td>
        <span>{{ (dto as Task).title || '(empty)' }}</span>
        <Badges :filter="filter" :task="dto as Task"></Badges>
      </td>
      <td>{{ (dto as Task).assignee }}</td>
      <td>
        {{ (dto as Task).due ? format((dto as Task).due, 'PP', { locale: getDfnsLocale() }) : '-' }}
      </td>
    </template>
  </MergeDialog>
  <BButton @click="maintenance()">Maintenance</BButton>
</template>

<style scoped>
.overdue,
.overdue a {
  color: crimson;
}

.deadline,
.deadline a {
  font-weight: bold;
}
</style>
