<template>
  <LoadingComponent :loading="loading" :error="error">
    <h1 class="page-header"><IBiBarChartFill /> {{ t('chart') }}</h1>
    <div class="row">
      <div class="col-sm-6" style="min-height: 200px; background-color: #cccccc">
        <span class="chart-label">{{ t('now') }}</span>
        <div
          v-for="task in now"
          :key="task.id"
          :class="{ overdue: isPast(task), deadline: task.deadline }"
        >
          <RouterLink :to="`/tasks/${task.id}`">{{ `${task.title}` }}</RouterLink>
          <BadgesComponent :filter="filter" :task="task"></BadgesComponent>
        </div>
      </div>
      <div class="col-sm-6" style="min-height: 200px; background-color: #dddddd">
        <span class="chart-label">{{ t('soon') }}</span>
        <div
          v-for="task in soon"
          :key="task.id"
          :class="{ overdue: isPast(task), deadline: task.deadline }"
        >
          <RouterLink :to="`/tasks/${task.id}`">{{ `${task.title}` }}</RouterLink>
          <BadgesComponent :filter="filter" :task="task"></BadgesComponent>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="min-height: 200px; background-color: #dddddd">
        <span class="chart-label">{{ t('terminate') }}</span>
        <div
          v-for="task in terminate"
          :key="task.id"
          :class="{ overdue: isPast(task), deadline: task.deadline }"
        >
          <RouterLink :to="`/tasks/${task.id}`">{{ `${task.title}` }}</RouterLink>
          <BadgesComponent :filter="filter" :task="task"></BadgesComponent>
        </div>
      </div>
      <div class="col-sm-6" style="min-height: 200px; background-color: #eeeeee">
        <span class="chart-label">{{ t('delegate') }}</span>
        <div
          v-for="task in delegate"
          :key="task.id"
          :class="{ overdue: isPast(task), deadline: task.deadline }"
        >
          <RouterLink :to="`/tasks/${task.id}`">{{ `${task.title}` }}</RouterLink>
          <BadgesComponent :filter="filter" :task="task"></BadgesComponent>
        </div>
      </div>
    </div>
  </LoadingComponent>
</template>

<script setup lang="ts">
import { ref, watch, type Ref } from 'vue'
import { useI18n } from 'vue-i18n'

import { getExisting } from '@/appframework/lib/rest'
import { search } from '@/App.vue'
import { differenceInDays } from 'date-fns/differenceInDays'
import type { Task } from '@/appframework'

const { t } = useI18n()

const loading = ref(false)
const error = ref(null as unknown as string)
const now: Ref<Task[]> = ref([])
const soon: Ref<Task[]> = ref([])
const terminate: Ref<Task[]> = ref([])
const delegate: Ref<Task[]> = ref([])

watch(() => search.value, loadData, { immediate: true })

function filter(type: string, term: string, $event: Event) {
  if (term.indexOf(' ') !== -1) {
    term = '"' + term + '"'
  }
  const newTerm =
    type + ':' + ($event instanceof KeyboardEvent && $event.shiftKey ? '!' : '') + term
  if (search.value?.indexOf(newTerm) >= 0) {
    search.value = search.value?.replace(newTerm, '')
  } else {
    search.value += ' ' + newTerm
  }
  search.value = search.value?.trim()
}

async function loadData() {
  loading.value = true
  const response = await getExisting<Task[]>(`task/assigned?search=${search.value}`)
  now.value.length = 0
  soon.value.length = 0
  terminate.value.length = 0
  delegate.value.length = 0
  for (const task of response) {
    if (task.due) {
      const diff = differenceInDays(task.due, new Date())
      if (task.priority === 'HIGH') {
        // High priority in less than 5 days
        if (diff <= 5) {
          now.value.push(task)
        } else {
          soon.value.push(task)
        }
      } else if (task.priority === 'MEDIUM') {
        // Medium priority in less than 5 days
        if (diff <= 5) {
          terminate.value.push(task)
        } else {
          delegate.value.push(task)
        }
      } else {
        delegate.value.push(task)
      }
    } else {
      // No due date set yet, should be done ASAP
      now.value.push(task)
    }
  }
  loading.value = false
}

function isPast(task: Task) {
  if (!task.due || task.state === 'COMPLETED') {
    return false
  }
  const today = new Date()
  today.setHours(0, 0, 0, 0)
  return new Date(task.due) < today
}
</script>
