<script setup lang="ts">
import { format } from 'date-fns'
import { ref, watch } from 'vue'
import { useRoute } from 'vue-router'

import type { Task, TaskStatus } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const route = useRoute()

const task = ref({} as Task)

watch(
  () => route.params.id as string,
  (id: string) => {
    fetchData(parseInt(id))
  },
  { immediate: true }
)

async function fetchData(id: number) {
  task.value = await getExisting(`task/${id}`)
}

// Taken from https://getbootstrap.com/docs/5.0/customize/color/ in '-300' variants
const colors = {
  action: '6ea8fe',
  due: 'a370f7',
  effort: 'a98eda',
  email: 'e685b5',
  file: 'ea868f',
  generic: 'feb272',
  person: 'ffda6a',
  priority: '75b798',
  reference: '79dfc1'
  // 6edff6
}

function getColor(status: TaskStatus) {
  let color = colors[status.type]
  if (!color) {
    color = 'adb5bd'
  }
  return color
}

function getStyle(status: TaskStatus) {
  const color = getColor(status)

  return { 'background-color': `#${color}`, color: foregroundColor(color) }
}

function foregroundColor(color: string): string {
  const r = parseInt(color.substring(0, 2), 16)
  const g = parseInt(color.substring(2, 4), 16)
  const b = parseInt(color.substring(4, 6), 16)
  if (r + g + b < 128 * 3) {
    return 'white'
  }
  return 'black'
}
</script>

<template>
  <Timeline :value="task.status" align="alternate">
    <template #marker="slotProps">
      <div class="rounded-full shadow-sm" :style="getStyle(slotProps.item)">
        <TaskStatusIcon :taskstatus="slotProps.item" class="m-2" />
      </div>
    </template>
    <template #content="slotProps">
      <BCard class="mt-4">
        <BCardSubtitle>
          {{ format(slotProps.item.created, 'PP', { locale: getDfnsLocale() }) }}
        </BCardSubtitle>
        <TaskStatusContent :taskstatus="slotProps.item" />
      </BCard>
    </template>
  </Timeline>
</template>

<style scoped>
.rounded-full {
  border-radius: 9999px;
}
</style>
