<template>
  <SingleComponent type="textsplit" :stub="stub" name-column="expression">
    <template #icon>
      <IBiScissors />
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import type { TextSplit } from '@/appframework'

function stub() {
  return {} as TextSplit
}
</script>
