<script setup lang="ts">
import type { TextSplit } from '@/appframework'

function stub() {
  return { expression: '' } as TextSplit
}
</script>

<template>
  <ListComponent type="textsplit" :stub="stub" name-column="expression">
    <template #icon>
      <IBiScissors />
    </template>
  </ListComponent>
</template>
