<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import TaskStatus from './TaskStatus.vue'
import type { Task } from '@/appframework'
import BadgeComponent from './BadgeComponent.vue'

const { t } = useI18n()

defineProps<{ task: Task; filter: (a: string, b: string, event: Event) => void }>()
</script>

<template>
  <span>
    <TaskStatus :filter="filter" :task="task"></TaskStatus>
    <BadgeComponent v-for="label in task.labels" :key="label.id" :label="label" :filter="filter" />
    <span
      class="badge rounded-pill"
      style="cursor: pointer"
      :class="{
        'bg-danger': task.priority == 'HIGH',
        'bg-light text-dark': task.priority == 'MEDIUM',
        'bg-success': task.priority == 'LOW'
      }"
      @click="event => filter('priority', task.priority, event)"
      >{{ t(task.priority.toLowerCase()).substring(0, 1) }}</span
    >
  </span>
</template>
