<script setup lang="ts">
import type { Label } from '@/appframework'
import { computed } from 'vue'

const props = defineProps<{
  label: Label
}>()

const color = computed(() => {
  if (!props.label.color) {
    return 'inherit'
  }
  if (props.label.color.startsWith('#') || props.label.color.length !== 6) {
    return props.label.color
  }
  return '#' + props.label.color
})
</script>

<template>
  <i class="label-color" :style="{ 'background-color': color }"></i>
</template>

<style scoped>
.label-color {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  border-radius: 4px;
}
</style>
