<script setup lang="ts">
import { format } from 'date-fns'
import { useI18n } from 'vue-i18n'

import type {
  TaskStatus,
  TaskStatusAction,
  TaskStatusDue,
  TaskStatusEffort,
  TaskStatusEmail,
  TaskStatusFile,
  TaskStatusGeneric,
  TaskStatusPerson,
  TaskStatusPriority,
  TaskStatusReference
} from '@/appframework'
import { saveExisting } from '@/appframework/lib/rest'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const props = defineProps<{
  taskstatus: TaskStatus
  emailSplitRegexp?: RegExp
}>()
const emit = defineEmits(['text-deleted'])

const { t } = useI18n()

function split(text: string) {
  // No regular expression specified to split an e-mail into parts, just return the whole e-mail
  // body
  if (!props.emailSplitRegexp) {
    return [text]
  }

  const result = []

  let index
  let lastIndex = 0

  while ((index = props.emailSplitRegexp.exec(text))) {
    result.push(text.substring(lastIndex, index.index))
    lastIndex = index.index
  }
  if (lastIndex !== text.length) {
    result.push(text.substring(lastIndex, text.length))
  }

  return result
}

async function deleteText($event: Event, taskStatus: TaskStatusEmail, text: string) {
  const btn = $event.currentTarget as HTMLElement
  if (btn.classList.contains('btn-danger')) {
    taskStatus.body = taskStatus.body.replace(text, '')
    await saveExisting('taskstatus', taskStatus, taskStatus.id)
    emit('text-deleted')
  } else {
    btn.classList.remove('btn-outline-light')
    btn.classList.add('btn-danger')
    //TODO btn.html(t('remove'))
  }
}
</script>
<template>
  <span v-if="taskstatus.type == 'action'" style="white-space: pre-line">
    <span>{{ (taskstatus as TaskStatusAction).title }}</span>
    <IBiCheck ng-show="taskstatus.completed" />
  </span>
  <span v-else-if="taskstatus.type == 'generic'">
    <LinkifyText
      tag="span"
      :text="(taskstatus as TaskStatusGeneric).comment"
      style="white-space: pre-line"
    />
  </span>
  <span v-else-if="taskstatus.type == 'person'">
    <span>{{ (taskstatus as TaskStatusPerson).name }}</span>
  </span>
  <span v-else-if="taskstatus.type == 'priority'">
    <span>{{ t('priority') }}</span
    >:
    <span>{{ t((taskstatus as TaskStatusPriority).priority.toLowerCase()) }}</span>
  </span>
  <span v-else-if="taskstatus.type == 'due'">
    <span :class="{ deadline: (taskstatus as TaskStatusDue).deadline }">
      {{ (taskstatus as TaskStatusDue).deadline ? 'Deadline set to' : 'Postponed to' }}
      {{ format((taskstatus as TaskStatusDue).due, 'PP', { locale: getDfnsLocale() }) }}
    </span>
  </span>
  <span v-else-if="taskstatus.type == 'file'">
    <img
      v-if="(taskstatus as TaskStatusFile).file.contentType.startsWith('image/')"
      :src="`/rest/binary_data/preview/${(taskstatus as TaskStatusFile).file.id}`"
      :alt="`Status ${taskstatus.id}`"
    />
    <a v-else :href="`/rest/binary_data/${(taskstatus as TaskStatusFile).file.id}`">
      <span>{{ (taskstatus as TaskStatusFile).file.filename }}</span>
    </a>
  </span>
  <span v-else-if="taskstatus.type == 'reference'">
    <RouterLink
      :to="`tasks/${(taskstatus as TaskStatusReference).reference.id}`"
      :class="{
        strikethrough: (taskstatus as TaskStatusReference).reference.state === 'COMPLETED'
      }"
    >
      {{
        `#${(taskstatus as TaskStatusReference).reference.id} ${(taskstatus as TaskStatusReference).reference.title}`
      }}
    </RouterLink>
  </span>
  <span v-else-if="taskstatus.type == 'email'">
    <div>
      <span :title="(taskstatus as TaskStatusEmail).sender.address">{{
        (taskstatus as TaskStatusEmail).sender.name
      }}</span>
      to
      <span
        v-for="(recipient, index) in (taskstatus as TaskStatusEmail).recipients"
        :key="recipient.name"
      >
        <span :title="recipient.address">{{ recipient.name }}</span>
        {{ index === (taskstatus as TaskStatusEmail).recipients.length ? '' : ', ' }}</span
      >
      at <span>{{ (taskstatus as TaskStatusEmail).at }}</span>
    </div>
    <div>{{ (taskstatus as TaskStatusEmail).subject }}</div>
    <div v-for="part in split((taskstatus as TaskStatusEmail).body)" :key="part" class="boxhover">
      <div style="white-space: pre-line">{{ part }}</div>
      <button
        class="btn btn-outline-light float-end btn-sm"
        @click="deleteText($event, taskstatus as TaskStatusEmail, part)"
      >
        <IBiDashCircle />
      </button>
    </div>
    <div v-for="attachment in (taskstatus as TaskStatusEmail).attachments" :key="attachment.id">
      <img
        v-if="attachment.contentType.startsWith('image/')"
        :src="`/rest/binary_data/preview/${attachment.id}`"
        :alt="`Attachment ${attachment.id}`"
      />
      <a v-else :href="`/rest/binary_data/${attachment.id}`">
        <IBiDownload class="me-1" />
        <span>{{ attachment.filename }}</span>
      </a>
    </div>
  </span>
  <span v-else-if="taskstatus.type == 'effort'">
    <IBiClock class="me-1" />
    <span>{{ format((taskstatus as TaskStatusEffort).at, 'PP', { locale: getDfnsLocale() }) }}</span
    ><br />
    <span>{{ (taskstatus as TaskStatusEffort).duration }}</span>
  </span>
</template>

<style>
.deadline {
  font-weight: bold;
}
</style>
