<script setup lang="ts">
import type { TaskStatus } from '@/appframework'

defineProps<{
  taskstatus: TaskStatus
}>()
</script>
<template>
  <IBiPlay v-if="taskstatus.type == 'action'" />
  <IBiChat v-else-if="taskstatus.type == 'generic'" />
  <IBiPerson v-else-if="taskstatus.type == 'person'" />
  <IBiAirplane v-else-if="taskstatus.type == 'priority'" />
  <IBiClock v-else-if="taskstatus.type == 'due'" />
  <IBiDownload v-else-if="taskstatus.type == 'file'" />
  <IBiLink v-else-if="taskstatus.type == 'reference'" />
  <IBiEnvelope v-else-if="taskstatus.type == 'email'" />
  <IBiClock v-else-if="taskstatus.type == 'effort'" />
</template>
