<script setup lang="ts">
import type { Task } from '@/appframework'

defineProps<{
  task: Task
  filter: (a: string, b: string, event: Event) => void
}>()
</script>
<template>
  <span>
    <span
      v-if="task.state != 'IN_PROGRESS'"
      class="badge"
      style="cursor: pointer"
      :class="{ 'bg-warning': task.state == 'NEW', 'bg-success': task.state == 'COMPLETED' }"
      @click="filter('status', task.state, $event)"
      >{{ task.state }}</span
    >
  </span>
</template>
